.App {
  text-align: center;
}

.CanvasContainer {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: auto;
}

.CanvasContainer > canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}